/* Untuk Tablet */
@media all and (max-width: 1000px) {
  /* Anisa */
  .top-wrapper {
    text-align: left;
    width: auto;
    height: auto;
  }

  .top-wrapper h1 {
    font-size: 22px;
  }

  .heading h2 {
    font-size: 10px;
  }

  .header-list li {
    list-style: none;
    float: left;
    color: #000;
    padding: 33px 20px;
    font-size: 12;
  }

  .logo {
    width: 150px;
    float: left;
  }

  /* Indra */
  .main {
    height: 300px;
  }

  .animasi {
    height: 300px;
    width: 200px;
  }

  .main-top {
    margin-left: 10px;
  }

  .main-top h1 {
    font-size: 30px;
    margin-top: 85px;
  }

  .main-top h2 {
    font-size: 25px;
    margin-top: 50px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  /* Anisa */
  .top-wrapper {
    text-align: left;
    width: auto;
    height: auto;
  }

  .header-list {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper h1 {
    font-size: 10px;
  }

  .top-wrapper p {
    font-size: 8px;
  }

  .logo {
    width: 100px;
    float: left;
  }

  /* Indra */
  .main {
    height: 160px;
  }

  .animasi {
    height: 160px;
    width: 90px;
  }

  .main-top {
    margin-left: 3px;
  }

  .main-top {
    margin-left: 3px;
  }

  .main-top h1 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 45px;
  }

  .main-top h2 {
    font-size: 15px;
    margin-top: 20px;
  }
}
