body {
  margin: 0;
  font-family: "Calibri";
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Header : Anisa */
.top-wrapper {
  padding: 250px 0 100px 0;
  background-image: url(https://cdn.wallpapersafari.com/21/2/Bkf9VP.jpg);
  background-size: cover;
  height: 100%;
  color: white;
  text-align: center;
}

.top-wrapper-text {
  padding: 0 2em;
}
.top-wrapper h1 {
  opacity: 0.7;
  font-size: 35px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  text-align: left;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
  text-align: left;
  font-size: 15px;
}

header {
  height: fit-content;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 140px;
  float: left;
}

.header-list {
  float: right;
  margin: auto;
}

.header-list li {
  list-style: none !important;
  float: left !important;
  color: #000;
  padding: 33px 20px;
  font-size: 25;
}

.header-list li:hover {
  background-color: aquamarine;
}
.menu-icon {
  color: black;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none !important;
}

.fa {
  margin-right: 5px;
}

/* Main : Indra */
.main {
  background-image: url(https://iili.io/qhWupI.md.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  text-align: left;
}

.animasi {
  height: 400px;
  width: 270px;
}

.animasi img {
  width: 100%;
  height: 100%;
}

.main-animasi {
  float: left;
}

.main-top {
  float: left;
  margin-left: 20px;
  width: auto;
}

.main-top h1 {
  color: #ffd700;
  opacity: 0.8;
  font-size: 48px;
  margin-top: 100px;
}

.main-top h2 {
  color: #fcfcfc;
  opacity: 0.7;
  font-size: 33px;
  font-weight: normal;
  margin-top: 50px;
}

/* Animation & Finishing : Sami */
html {
  overflow-y: scroll;
}

.achievement > h2 {
  margin: 2em auto;
  padding-bottom: 1em;
  border-bottom: 5px dashed rgb(54, 54, 54);
}
.achievement_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.achievement_Item {
  margin: auto;
  max-width: 15em;
  text-align: center;
  margin-bottom: 3em;
  border: 2px solid rgb(155, 255, 255);
  border-radius: 2em;
}

.achievement_Item:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.473);
}

.achievement_ItemImage > img {
  max-width: 15em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(117, 117, 117, 0.555);
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 1em;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(91, 114, 160)),
    color-stop(0.72, rgb(62, 96, 138)),
    color-stop(0.86, rgb(44, 52, 77))
  );
}

/* footer */

footer {
  width: 100%;
  height: fit-content;
  display: inline-block;
  background-color: #332f29;
  padding: 1.2em;
}

.footer-logo {
  float: left;
}

.footer-logo > img {
  max-width: 5vw;
}

.footer-list {
  max-width: 30%;
  float: right;
  line-height: 1px;
}

.footer-list a {
  color: #ccc;
}

.footer-text {
  color: #ccc;
  font-size: 10pt;
}

.footer-contact {
  width: 60%;
  float: left;
  font-size: 10pt;
  color: #ccc;
}
